@import "reset.css";

:root {
  --l-size: 2em;
  --m-size: 1.5em;
  --s-size: 1em;
  --xs-size: 0.5em;
}

body {
  background: linear-gradient(30deg, rgb(95, 99, 228), rgb(99, 216, 255));
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.generator-box {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
}

.generator-box__header h3 {
  font-size: var(--l-size);
  font-weight: 600;
  margin-bottom: 10px;
}

.generator-box__header span {
  font-size: var(--s-size);
}

.generator-box__header {
  margin-bottom: 20px;
}

.generator-box__input form {
  display: flex;
  position: relative;
}

#input-number {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 5px 15px;
  border-radius: 15px;
  font-size: var(--s-size);
  width: 100%;
}

#input-number::placeholder {
  opacity: 0.5;
  text-align: left;
}

#submit {
  position: absolute;
  right: 0px;
  font-size: var(--s-size);
  border: none;
  background-color: rgb(68, 68, 255);
  color: white;
  border-radius: 15px;
  padding: 6px;
}

.generator-box__print {
  background-color: rgb(211, 230, 255);
  border-radius: 10px;
  margin-top: 10px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.generator-box__print span {
  display: block;
  margin-bottom: 10px;
  font-size: var(--s-size);
  width: 50%;
}

.generator-box__print span:first-child,
.generator-box__print span:nth-child(2) {
  margin-top: 15px;
}
